In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("res3.csv")

In [3]:
df.head()

,Brand,Category,Notes,Country,Wiki,Image,Unnamed: 6
0,Abp Group,Broadcasting & entertainment,"Media, news",India,Ananda Bazar Patrika (ABP) Group is an Indian ...,https://res.cloudinary.com/hmvh5jw7x/image/upl...,NaN
1,Action Group,-,"Apparel, chemicals, retail, steel",India,Action Group is an industrial conglomerate and...,https://res.cloudinary.com/hmvh5jw7x/image/upl...,NaN
2,Adani Group,-,Conglomerate,India,Adani Group is an Indian multinational conglom...,https://res.cloudinary.com/hmvh5jw7x/image/upl...,NaN
3,Aditya Birla Group,-,"Agribusiness, cement, chemicals, insurance",India,"Aditya Birla Group, is an Indian multinational...",https://res.cloudinary.com/hmvh5jw7x/image/upl...,NaN
4,Ador Group,-,"Electronics, energy, chemicals",India,The Ador Group is an Indian multinational cong...,https://res.cloudinary.com/hmvh5jw7x/image/upl...,NaN

In [4]:
df.shape

(1648, 7)

In [5]:
df = df.drop(["Unnamed: 6"],axis = 1)

In [6]:
for i in df.iterrows():
    df.at[i[0], "Brand"] = str(i[1]["Brand"]).title()
    df.at[i[0], "Category"] = str(i[1]["Category"]).title()
    if i[1]["Country"] == "Indian":
        df.at[i[0], "Country"]  = "India"

In [7]:
df[df["Country"]=="Indian"]

Empty DataFrame
Columns: [Brand, Category, Notes, Country, Wiki, Image]
Index: []

In [8]:
df2 = pd.read_csv("brand.csv",encoding='latin1')

In [9]:
df2.head()

      Brand Category    Country
0  Adidas\n    shoes  Non India
1      Puma  shoes\n  Non India
2    Reebok    shoes  Non India
3      Nike    shoes  Non India
4      Fila    shoes  Non India

In [10]:
df2.shape

(159, 3)

In [11]:
for i in df2.iterrows():
    df2.at[i[0], "Brand"] = str(i[1]["Brand"]).title()
    df2.at[i[0], "Category"] = str(i[1]["Category"]).title()

In [12]:
result = pd.concat([df,df2])

In [13]:
result

,Brand,Category,Notes,Country,Wiki,Image
0,Abp Group,Broadcasting & Entertainment,"Media, news",India,Ananda Bazar Patrika (ABP) Group is an Indian ...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
1,Action Group,-,"Apparel, chemicals, retail, steel",India,Action Group is an industrial conglomerate and...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
2,Adani Group,-,Conglomerate,India,Adani Group is an Indian multinational conglom...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
3,Aditya Birla Group,-,"Agribusiness, cement, chemicals, insurance",India,"Aditya Birla Group, is an Indian multinational...",https://res.cloudinary.com/hmvh5jw7x/image/upl...
4,Ador Group,-,"Electronics, energy, chemicals",India,The Ador Group is an Indian multinational cong...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
...,...,...,...,...,...,...
154,Priya Gold,Essential Foods,NaN,India,NaN,NaN
155,Saffola,Essential Foods,NaN,India,NaN,NaN
156,Anmol,Essential Foods,NaN,India,NaN,NaN
157,Baidhyanath,Essential Foods,NaN,India,NaN,NaN
158,Cafe Coffee Day,Essential Foods,NaN,India,NaN,NaN

In [14]:
dup = set()
for i in result.iterrows():
    if len(result[result["Brand"] == i[1]["Brand"]])>1:
        dup.add(i[1]["Brand"])

In [15]:
dup

{'Allen Solly',
 'Amul',
 'Bata',
 'Canon',
 'Carrier',
 'Crompton',
 'Dabur',
 'Dell',
 'Emami',
 'Eveready',
 'Fastrack',
 'Fila',
 'Flying Machine',
 'Havells',
 'Hawkins',
 'Hitachi',
 'Hp',
 'Itc',
 'Jockey',
 'Kenstar',
 'Lee Cooper',
 "Levi'S",
 'Lg',
 'Monte Carlo',
 'Munich Polo',
 'Nan',
 'Nestle',
 'Nike',
 'Panasonic',
 'Pantaloons',
 'Paragon',
 'Prestige',
 'Puma',
 'Raymond',
 'Red Chief',
 'Reebok',
 'Relaxo',
 'Samsung',
 'Sanyo',
 'Sonata',
 'Spykar',
 'Titan',
 'Toshiba',
 'Videocon',
 'Whirlpool',
 'Woodland'}

In [16]:
result = result.reset_index(drop = True)

In [17]:
res = result.drop_duplicates(subset='Brand', keep="last").reset_index(drop=True)

In [18]:
res

,Brand,Category,Notes,Country,Wiki,Image
0,Abp Group,Broadcasting & Entertainment,"Media, news",India,Ananda Bazar Patrika (ABP) Group is an Indian ...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
1,Action Group,-,"Apparel, chemicals, retail, steel",India,Action Group is an industrial conglomerate and...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
2,Adani Group,-,Conglomerate,India,Adani Group is an Indian multinational conglom...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
3,Aditya Birla Group,-,"Agribusiness, cement, chemicals, insurance",India,"Aditya Birla Group, is an Indian multinational...",https://res.cloudinary.com/hmvh5jw7x/image/upl...
4,Ador Group,-,"Electronics, energy, chemicals",India,The Ador Group is an Indian multinational cong...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
...,...,...,...,...,...,...
1756,Priya Gold,Essential Foods,NaN,India,NaN,NaN
1757,Saffola,Essential Foods,NaN,India,NaN,NaN
1758,Anmol,Essential Foods,NaN,India,NaN,NaN
1759,Baidhyanath,Essential Foods,NaN,India,NaN,NaN
1760,Cafe Coffee Day,Essential Foods,NaN,India,NaN,NaN

In [20]:
res.to_csv("output.csv",index=False)

In [42]:
import re

In [43]:
df = pd.read_csv("output2.csv", encoding='latin1')

In [44]:
df.head()

,Brand,Category,Notes,Country,Wiki,Image
0,Air Odisha,Airlines,Charter airline,India,Air Odisha was an Indian regional airline base...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
1,Air India,Airlines,Airline,India,Air India is the flag carrier airline of India...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
2,Air India Express,Airlines,"Low-cost airline, part of Air India",India,Air India Express is an Indian low-cost airlin...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
3,Deccan Charters,Airlines,Charter airline,India,Deccan Charters is an aviation company based i...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
4,Goair Airlines,Airlines,Low-cost airline,India,GoAir is an Indian low-cost airline based in M...,https://res.cloudinary.com/hmvh5jw7x/image/upl...

In [45]:
df.shape

(1713, 6)

In [46]:
for i in df.iterrows():
    name = i[1]["Brand"].strip()
    name = re.sub('\(.*\)', '', name).strip()
    df.at[i[0], "Brand"] = name

In [47]:
df

,Brand,Category,Notes,Country,Wiki,Image
0,Air Odisha,Airlines,Charter airline,India,Air Odisha was an Indian regional airline base...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
1,Air India,Airlines,Airline,India,Air India is the flag carrier airline of India...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
2,Air India Express,Airlines,"Low-cost airline, part of Air India",India,Air India Express is an Indian low-cost airlin...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
3,Deccan Charters,Airlines,Charter airline,India,Deccan Charters is an aviation company based i...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
4,Goair Airlines,Airlines,Low-cost airline,India,GoAir is an Indian low-cost airline based in M...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
...,...,...,...,...,...,...
1708,Gio Collection,Watches,NaN,Non Indian,0,https://res.cloudinary.com/hmvh5jw7x/image/upl...
1709,Mathey-Tissot,Watches,NaN,Non Indian,0,https://res.cloudinary.com/hmvh5jw7x/image/upl...
1710,Nucleus,Watches,NaN,Non Indian,0,https://res.cloudinary.com/hmvh5jw7x/image/upl...
1711,Rado,Watches,NaN,Non Indian,0,https://res.cloudinary.com/hmvh5jw7x/image/upl...
1712,Jiofi,Wifi,NaN,India,JioFi. Jio has also launched Wi-Fi routers by ...,https://res.cloudinary.com/hmvh5jw7x/image/upl...

In [48]:
res = df.drop_duplicates(subset='Brand', keep="last").reset_index(drop=True)

In [50]:
res

,Brand,Category,Notes,Country,Wiki,Image
0,Air Odisha,Airlines,Charter airline,India,Air Odisha was an Indian regional airline base...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
1,Air India,Airlines,Airline,India,Air India is the flag carrier airline of India...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
2,Air India Express,Airlines,"Low-cost airline, part of Air India",India,Air India Express is an Indian low-cost airlin...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
3,Deccan Charters,Airlines,Charter airline,India,Deccan Charters is an aviation company based i...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
4,Goair Airlines,Airlines,Low-cost airline,India,GoAir is an Indian low-cost airline based in M...,https://res.cloudinary.com/hmvh5jw7x/image/upl...
...,...,...,...,...,...,...
1681,Gio Collection,Watches,NaN,Non Indian,0,https://res.cloudinary.com/hmvh5jw7x/image/upl...
1682,Mathey-Tissot,Watches,NaN,Non Indian,0,https://res.cloudinary.com/hmvh5jw7x/image/upl...
1683,Nucleus,Watches,NaN,Non Indian,0,https://res.cloudinary.com/hmvh5jw7x/image/upl...
1684,Rado,Watches,NaN,Non Indian,0,https://res.cloudinary.com/hmvh5jw7x/image/upl...
1685,Jiofi,Wifi,NaN,India,JioFi. Jio has also launched Wi-Fi routers by ...,https://res.cloudinary.com/hmvh5jw7x/image/upl...

In [49]:
res.to_csv("final.csv",index=False)